
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/158/4836/3224.jpg);">
  <div class="container">
    <h1>Rent a venue for any type of event at your convenience with one click.</h1>
    <a class="btn btn-success btn-lg text-white" id="abc" href="/venues">Check out all venues!</a>
  </div>
</div>

<div class="cards" href="/venues">

<% @venues.each do |venue| %>

<a href="<%= venue_path(venue)%>">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(<%= cl_image_path venue.photo.key%>)">
    <p> <%= venue.name %></p>
  </div>
</a>


<% end %>


