
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/1013/4256/2832.jpg);">
  <div class="container">
    <h1>Rent a venue for any type of event at your convenience with one click.</h1>
    <a class="btn btn-flat" id="abc" href="/venues">Explore Listing</a>
  </div>
</div>

<div class="cards" href="/venues">
 <% @venues.each do |venue| %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/1000/1200)">
      <%= venue.name %>
    </div>
  <% end %>
</div>
