
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/158/4836/3224.jpg);">
  <div class="container">
    <h1>Rent a venue for any type of event at your convenience with one click.</h1>
    <a class="btn btn-flat" id="abc" href="/venues">Explore Listing</a>
  </div>
</div>

<div class="cards" href="/venues">

<a href=/venues/3>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/McP0nkM1/1.jpg)">
    <p> Thirsty Deli </p>
  </div>
</a>

<a href=/venues/10>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/qzs8866J/2.jpg)">
   <p> Belly Pizza </p>
  </div>
</a>

<a href=/venues/6>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/wRJD47Wk/3.jpg)">
    <p> Big Sushi </p>
  </div>
</a>

<a href=/venues/12>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/qhNsnmyS/4.jpg)">
     <p> Thirsty Burger </p>
    </div>

<a href=/venues/20>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/XBwQGH03/5.jpg)">
     <p> Spice Burger </p>
    </div>

<a href=/venues/25>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/jWLcQdrM/6.png)">
     <p> Red Brasserie </p>
    </div>

<a href=/venues/30>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/5jvPR0QG/7.jpg)">
     <p> Fast Deli </p>
    </div>

<a href=/venues/35>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/dLj5JxBj/8.jpg)">
     <p> PS Grill </p>
    </div>

<a href=/venues/40>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)), url(https://i.postimg.cc/qNmQ36Wt/9.jpg)">
     <p> Hungry Diner </p>
    </div>
</div>

