
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/1008/5616/3744.jpg);">
  <div class="container">
    <h1>Rent a venue for any type of event at your convenience with one click.</h1>
    <a class="btn btn-flat" id="abc" href="#">Explore Listing</a>
  </div>
</div>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.picsum.photos/id/1031/5446/3063.jpg)">
    Corporate
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.picsum.photos/id/1040/4496/3000.jpg)">
    High Class
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.picsum.photos/id/158/4836/3224.jpg)">
    Concerts
  </div>
</div>
