
<div id="card">
  <%= cl_image_tag @venue.photo.key, height: 300, width: 400, crop: :fill %>
  <div id="name">
    <h2><%= @venue.name %></h2>
  </div>
  <div id="description">
    <p><%= @venue.description %></p>
  </div>
  <div id="address">
    <p><%= @venue.address %></p>
  </div>
</div>


<div id= booking-button> <button type="button" class="btn btn-outline-secondary">Request booking</button> </div>
