
.navbar-lewagon {
  justify-content: space-between;
  background: #1a2940;
 /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link {
  height: 20px;
  line-height: 20px;
  padding: 30px 5px 5px 5px;
}

.gravatar {
  height: 25px;
  width: auto;
  align: left;
  border-radius: 50%;
}
